:root {
    --mint-green: #d6fff6;
    --azure-web: #ebfffb;
    --russian-violet: #231651;
    --turquoise: #4dccbd;
    --ucla-blue: #2374ab;
    --cool-gray: #7d84b2;
    --light-red: #ff8484;
    --atomic-tangerine: #f39b6d;

    --antiflash-white: #ebebeb;
    --english-violet: #5c415d;
    --english-violet-2: #694966;
    --chinese-violet: #74526c;
    --satin-sheen-gold: #c89933;
}