@import url('https://fonts.googleapis.com/css?family=Tinos:700|Tinos:400');
@import "color-pallete.css";
:root {
    --main-text-color: white;
    --primary-color: #4b5ccd;
    --secondary-color: #4dccbd;
    --accent-color: #5f70e6;
    --link-color: #A30000;
    --secondary-accent-color: #231651;
}

* {
    font-family: 'Tinos';
}

body {
    color: var(--main-text-color);
    background-color: var(--primary-color);
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 3.5vh;
}

main {
    /* color: black; */
    font-size: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

main div {
    width: 38em;
    /* background: var(--secondary-color); */
}

h1 {
    margin-bottom: 5vh;
    margin-top: 1vh;
    font-size: 6rem;
    font-weight: 700;
    justify-items: center;
    text-shadow: -1px 2px 2px black;
}

h1 div {
    background: var(--secondary-color);
    width: 8em;
    padding-bottom: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 30px;
    justify-items: center;
}

h1 div div {
    width: 6em;
    text-align: center;
    text-wrap: balance;
}

h2 {
    font-size: 3rem;
}

#topBar {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-self: center;
    align-content: space-around;
    gap: 3vw;
    margin: 0;
    padding-top: 1vh;
}

#topBar a {
    color: var(--main-text-color);
    /* top: 5vh; */
    text-decoration: none;
}

#topBar a:hover {
    color: #F85325;
    text-decoration: underline;
}

.nonHomeTopBar {
    position: sticky;
    top: 0.01vh;
    /* background: var(--secondary-accent-color); */
}

.gridContainer {
    width: 85vw;
    justify-self: center;
    /* background: var(--secondary-accent-color); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "gridLeft gridRight";
}

.gridContainer div, .gridContainer div img {
    width: 42vw;
}

.gridContainer div img {
    outline: 0.2em solid var(--secondary-accent-color);
    outline-offset: -0.2em;
    /* color: var(--mint-green); */
}

.gridContainer div h3{
    margin-top: 0.1vh;
    margin-bottom: 0;
}

.gridContainer div p{
    font-size: 1.5rem;
    margin-top: 0.5vh;
    margin-bottom: 0;
}

.gridLeft {
    display: flex;
    gap: 1vh;
    flex-direction: column;
    text-align: left;
    grid-area: gridLeft;
}

.gridRight {
    justify-self: right;
    display: flex;
    gap: 1vh;
    flex-direction: column;
    text-align: right;
    grid-area: gridRight;
}

.gridLeft div{
    background: var(--secondary-accent-color);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 0.2vh;
    transition: ease 0.5s;
    transition: ease 0.5s;
    max-height: 56.5vh;
}

.gridLeft img {
    border-top-right-radius: 20px;
}

.gridLeft div:hover{
    box-shadow: 4px 2px 2px 0 rgba(0, 0, 0, 0.432);
}

.gridRight div{
    background: var(--secondary-accent-color);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-bottom: 0.2vh;
    transition: ease 0.5s;
    transition: ease 0.5s;
    max-height: 56.5vh;
    overflow-x: hidden;
}

.gridRight img {
    border-top-left-radius: 20px;
}

.gridRight div:hover{
    box-shadow: -4px 2px 2px 0 rgba(0, 0, 0, 0.432);
}

.gridRight a, .gridLeft a {
    color: var(--main-text-color);
    text-decoration: none;
    transition: ease 0.5s;
}

.gridRight a:hover, .gridLeft a:hover {
    color: var(--turquoise);
    text-decoration: underline;
}

.gridLeft h3, .gridLeft p {
    padding-left: 0.5vw;
}

.gridRight h3, .gridRight p {
    padding-right: 0.5vw;
}

.blogDate {
    margin: 0;
    margin-top: 0.7vh;
    padding: 0;
    font-size: 1.3rem;
    font-weight: 400;
    color: rgb(194, 194, 194)
}

.gridLeft .blogDate {
    float: right;
    clear: both;
    margin-right: 0.8vw;
}

.gridRight .blogDate {
    float: left;
    clear: both;
    margin-left: 0.8vw;
}

@media screen and (max-width: 450px) {
    .sidenav a {font-size: 1.5rem;}
    h1 {font-size: 2.85rem; margin-top: 2vh;}
    h2 {font-size: 1.85rem;}
    .gridContainer div h3 {font-size: 1rem;}
    .blogDate {font-size: 0.7rem;}
    .gridContainer div p {font-size: 0.8rem;}
    .gridLeft p {padding-left: 2vw;}
    .gridRight p {padding-right: 2vw;}
    body {font-size: 1.2rem;}
    main {font-size: 1.5rem;}
}