@import url('https://fonts.googleapis.com/css?family=Tinos:700|Tinos:400');
:root {
    --main-text-color: white;
    --primary-color: #4b5ccd;
    --secondary-color: #4dccbd;
    --accent-color: #5f70e6;
    --link-color: #A30000;
    --secondary-accent-color: #231651;
}

* {
    font-family: 'Tinos';
}

body {
    color: var(--main-text-color);
    background-color: var(--primary-color);
    font-size: 2rem;
    font-weight: 400;
}

main {
    /* color: black; */
    font-size: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

main div {
    width: 38em;
    /* background: var(--secondary-color); */
}

h1 {
    margin-bottom: 5vh;
    margin-top: 1vh;
    font-size: 6rem;
    font-weight: 700;
    justify-items: center;
    text-shadow: -1px 2px 2px black;
}

h1 div {
    background: var(--secondary-color);
    width: 8em;
    padding-bottom: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 30px;
    justify-items: center;
}

h1 div div {
    width: 6em;
    text-align: center;
    text-wrap: balance;
}

h2 {
    font-size: 3rem;
}

#topBar {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-self: center;
    align-content: space-around;
    gap: 3vw;
    margin: 0;
    padding-top: 1vh;
}

#topBar a {
    color: var(--main-text-color);
    /* top: 5vh; */
    text-decoration: none;
}

#topBar a:hover {
    color: #F85325;
    text-decoration: underline;
}

.nonHomeTopBar {
    position: sticky;
    top: 0.01vh;
    /* background: var(--secondary-accent-color); */
}

#blogPosts {
    width: 85vw;
    justify-self: center;
    /* background: var(--secondary-accent-color); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "blogLeft blogRight";
}

#blogPosts div, #blogPosts div > img {
    width: 42vw;
}

#blogPosts div h3{
    margin-top: 0.1vh;
    margin-bottom: 0;
}

#blogPosts div p{
    font-size: 1.5rem;
    margin-top: 0.5vh;
    margin-bottom: 0;
}

.blogLeft {
    display: flex;
    gap: 1vh;
    flex-direction: column;
    text-align: left;
    grid-area: blogLeft;
}

.blogRight {
    justify-self: right;
    display: flex;
    gap: 1vh;
    flex-direction: column;
    text-align: right;
    grid-area: blogRight;
}

.blogLeft div{
    background: var(--secondary-accent-color);
    border-bottom-left-radius: 20px;
    padding-bottom: 0.2vh;
}

.blogRight div{
    background: var(--secondary-accent-color);
    border-bottom-right-radius: 20px;
    padding-bottom: 0.2vh;
}

.blogLeft h3, .blogLeft p {
    padding-left: 0.5vw;
}

.blogRight h3, .blogRight p {
    padding-right: 0.5vw;
}

@media screen and (max-width: 450px) {
    .sidenav a {font-size: 1.5rem;}
    h1 {font-size: 2.85rem; margin-top: 2vh;}
    h2 {font-size: 1.85rem;}
    body {font-size: 1.2rem;}
    main {font-size: 1.5rem;}
}