@import url('https://fonts.googleapis.com/css?family=Tinos:700|Tinos:400');
:root {
    --main-text-color: white;
    --primary-color: #4b5ccd;
    --secondary-color: #4dccbd;
    --accent-color: #5f70e6;
    --link-color: #A30000;
    --secondary-accent-color: #231651;
}

* {
    font-family: 'Tinos';
}

body {
    color: var(--main-text-color);
    background-color: var(--primary-color);
    font-size: 2rem;
    font-weight: 400;
}

main {
    /* color: black; */
    font-size: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

main div {
    width: 38em;
    /* background: var(--secondary-color); */
}

h1 {
    margin-bottom: 5vh;
    margin-top: 1vh;
    font-size: 6rem;
    font-weight: 700;
    justify-items: center;
    text-shadow: -1px 2px 2px black;
}

h1 div {
    background: var(--secondary-color);
    width: 8em;
    padding-bottom: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 30px;
    justify-items: center;
}

h1 div div {
    width: 6em;
    text-align: center;
    text-wrap: balance;
}

.sidenav {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #5565c9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

/* .sidenav a {
    /* padding: 8px 8px 8px 32px; */
    /* padding-bottom: 30px; 
    text-decoration: none;
    font-size: 25px;
    color: var(--secondary-color);
    margin-left: 15px;
} */

#topBar {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-self: center;
    align-content: space-around;
    gap: 3vw;
    margin: 0;
    padding-top: 1vh;
}

#topBar a {
    color: var(--main-text-color);
    /* top: 5vh; */
    text-decoration: none;
}

#topBar a:hover {
    color: #F85325;
    text-decoration: underline;
}

/*.sidenav a:hover {
    color: #F85325;
    text-decoration: underline;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
}

#menubtn {
    /* background: #4b5ccd;
    position: fixed;
    z-index: 9;
    top: 20px;
    left: 35px;
    font-size: 35px;
    color: white;
}

#menubtn:hover {
    cursor: pointer;
    background: var(--secondary-accent-color);
    outline: 3px outset var(--secondary-accent-color);
} */

@media screen and (max-width: 450px) {
    /* .sidenav {padding-top: 55px;} */
    .sidenav a {font-size: 1.5rem;}
    h1 {font-size: 2.85rem; margin-top: 2vh;}
    body {font-size: 1.2rem;}
    main {font-size: 1.5rem;}
    /* h1 div, h1 div div {width: 6em;} */
}

/* #overlay {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: none;
    z-index:8;
    transition: 0.5s;
} */